In [4]:
import numpy as np
import pandas as pd

In [5]:
# Use this because I couldn't see enough output
pd.set_option('display.max_rows', None)

In [84]:
df_four = pd.read_csv('export_format4.csv')

In [85]:
# Notice the comma in row 4, salary column
df_four.head()

,employer,period_begin,period_end,post_date,salary,sheltered,unsheltered,total
0,Orleans,1/1/2002,1/31/2002,1/29/2002,262.62,0.0,18.38,18.38
1,Orleans,2/1/2002,2/28/2002,2/22/2002,525.24,0.0,36.76,36.76
2,Orleans,3/1/2002,3/31/2002,3/27/2002,525.24,0.0,36.76,36.76
3,Orleans,4/1/2002,4/30/2002,4/26/2002,525.24,0.0,36.76,36.76
4,Orleans,5/1/2002,5/31/2002,6/11/2002,"1,021.93",0.0,71.53,71.53

In [86]:
# Notice Salary is Dtype = object, due to the commas
df_four.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   employer      582 non-null    object
 1   period_begin  582 non-null    object
 2   period_end    582 non-null    object
 3   post_date     582 non-null    object
 4   salary        582 non-null    object
 5   sheltered     582 non-null    float64
 6   unsheltered   582 non-null    float64
 7   total         582 non-null    float64
dtypes: float64(3), object(5)
memory usage: 36.5+ KB

In [87]:
# 'salary' column is returning as an 'object' (string) due to the commas
# Remove the commas!
df_four['salary'] = df_four['salary'].str.replace(',', '')
df_four.head()

,employer,period_begin,period_end,post_date,salary,sheltered,unsheltered,total
0,Orleans,1/1/2002,1/31/2002,1/29/2002,262.62,0.0,18.38,18.38
1,Orleans,2/1/2002,2/28/2002,2/22/2002,525.24,0.0,36.76,36.76
2,Orleans,3/1/2002,3/31/2002,3/27/2002,525.24,0.0,36.76,36.76
3,Orleans,4/1/2002,4/30/2002,4/26/2002,525.24,0.0,36.76,36.76
4,Orleans,5/1/2002,5/31/2002,6/11/2002,1021.93,0.0,71.53,71.53

In [88]:
# Now that the commas are gone, we can convert the salary column from string to numeric
df_four['salary'] = pd.to_numeric(df_four['salary'])

In [89]:
# Notice that the salary column is now an object!
df_four.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   employer      582 non-null    object
 1   period_begin  582 non-null    object
 2   period_end    582 non-null    object
 3   post_date     582 non-null    object
 4   salary        582 non-null    float64
 5   sheltered     582 non-null    float64
 6   unsheltered   582 non-null    float64
 7   total         582 non-null    float64
dtypes: float64(4), object(4)
memory usage: 36.5+ KB

In [90]:
# Now, we sort by period end
# Because there are exact equal values for period end in both the parish and state salary reports,
# it will combine (sum) both the parish and state per month
df_four = df_four.groupby('period_end').sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_4716\2359453596.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_four = df_four.groupby('period_end').sum()

In [91]:
# I am glad I checked my work! Look, the period_end is not in the time order I expected. 
# I expected to see linear time: January through December of one  year, then move to next year
df_four.head()

             salary  sheltered  unsheltered   total
period_end
1/31/2002    525.02       0.00        36.75   36.75
1/31/2003   1274.12       0.00        89.20   89.20
1/31/2004   1458.70       0.00       102.12  102.12
1/31/2005   1625.60     113.80         0.00  113.80
1/31/2006   1520.64     106.44         0.00  106.44

In [92]:
# Use the datetime module to sort my timeline linearly
df_four = df_four.sort_values(by='period_end', key=pd.to_datetime)
df_four.head()

             salary  sheltered  unsheltered   total
period_end
1/31/2002    525.02        0.0        36.75   36.75
2/28/2002   1050.04        0.0        73.50   73.50
3/31/2002   1050.04        0.0        73.50   73.50
4/30/2002   1050.04        0.0        73.50   73.50
5/31/2002   2044.57        0.0       143.13  143.13

In [93]:
# Here we use the rolling 60 mean function built into pandas to return the
# average salaries for each 60 consecutive month periods.
# I am calling head on just 62 rows to make sure it is looking for 60 rows of data to check that the function is working properly
df_four['rolling_60'] = df_four['salary'].rolling(60).mean()
df_four.head(62)

             salary  sheltered  unsheltered   total   rolling_60
period_end
1/31/2002    525.02       0.00        36.75   36.75          NaN
2/28/2002   1050.04       0.00        73.50   73.50          NaN
3/31/2002   1050.04       0.00        73.50   73.50          NaN
4/30/2002   1050.04       0.00        73.50   73.50          NaN
5/31/2002   2044.57       0.00       143.13  143.13          NaN
6/30/2002   1225.60       0.00        85.80   85.80          NaN
7/31/2002   1249.86       0.00        87.50   87.50          NaN
8/31/2002   1274.12       0.00        89.20   89.20          NaN
9/30/2002   1274.12       0.00        89.20   89.20          NaN
10/31/2002  1274.12       0.00        89.20   89.20          NaN
11/30/2002  1911.18       0.00       133.80  133.80          NaN
12/31/2002  1274.12       0.00        89.20   89.20          NaN
1/31/2003   1274.12       0.00        89.20   89.20          NaN
2/28/2003   1274.12       0.00        89.20   89.20          NaN
3/31/2003   1274.12       0.00        89.20   89.20          NaN
4/30/2003   1274.12       0.00        89.20   89.20          NaN
5/31/2003   1911.18       0.00       133.80  133.80          NaN
6/30/2003   1274.12       0.00        89.20   89.20          NaN
7/31/2003   1299.67       0.00        90.98   90.98          NaN
8/31/2003   1325.22       0.00        92.76   92.76          NaN
9/30/2003   1325.22       0.00        92.76   92.76          NaN
10/31/2003  2121.31       0.00       148.50  148.50          NaN
11/30/2003  1458.70       0.00       102.12  102.12          NaN
12/31/2003  1458.70       0.00       102.12  102.12          NaN
1/31/2004   1458.70       0.00       102.12  102.12          NaN
2/28/2004   1458.70       0.00       102.12  102.12          NaN
3/31/2004   1458.70       0.00       102.12  102.12          NaN
4/30/2004   2239.17       0.00       156.75  156.75          NaN
5/31/2004   1560.94       0.00       109.26  109.26          NaN
6/30/2004   1560.94       0.00       109.26  109.26          NaN
7/31/2004   1573.74       0.00       110.15  110.15          NaN
8/31/2004   1638.73       0.00       114.72  114.72          NaN
9/30/2004   1625.60       0.00       113.80  113.80          NaN
10/31/2004  2438.40       0.00       170.70  170.70          NaN
11/30/2004  1625.60       0.00       113.80  113.80          NaN
12/31/2004  1625.60       0.00       113.80  113.80          NaN
1/31/2005   1625.60     113.80         0.00  113.80          NaN
2/28/2005   1625.60     113.80         0.00  113.80          NaN
3/31/2005   1625.60     113.80         0.00  113.80          NaN
4/30/2005   2438.40     170.70         0.00  170.70          NaN
5/31/2005   1625.60     113.80         0.00  113.80          NaN
6/30/2005   1625.60     113.80         0.00  113.80          NaN
7/31/2005   1636.80     114.58         0.00  114.58          NaN
8/31/2005   1700.80     119.06         0.00  119.06          NaN
9/30/2005   1267.20      88.71         0.00   88.71          NaN
10/31/2005  2956.80     206.99         0.00  206.99          NaN
11/30/2005  1689.60     118.28         0.00  118.28          NaN
12/31/2005  1689.60     118.28         0.00  118.28          NaN
1/31/2006   1520.64     106.44         0.00  106.44          NaN
2/28/2006   1351.68      94.60         0.00   94.60          NaN
3/31/2006   2027.52     141.90         0.00  141.90          NaN
4/30/2006   1689.60     118.28         0.00  118.28          NaN
5/31/2006   1689.60     118.28         0.00  118.28          NaN
6/30/2006   1351.68      94.60         0.00   94.60          NaN
7/31/2006   1520.64     106.44         0.00  106.44          NaN
8/31/2006   1688.55     118.20         0.00  118.20          NaN
9/30/2006   2534.40     177.42         0.00  177.42          NaN
10/31/2006  1689.60     118.28         0.00  118.28          NaN
11/30/2006  1689.07     118.24         0.00  118.24          NaN
12/31/2006  1689.08     118.24         0.00  118.24  1578.125167
1/31/2007   1689.60     118.28         0.00  118.28  1597.534833
2/28/2007   1688.54     118.20         0.00  118.20  1608.176500

In [6]:
# Compare this to my samp_avg_salary.xlsx. Samp_avg_salary is only applicable to export_format.csv at this time
# Note that the excel workbook is also computing 60 month averages,
# Using two separate methods to compute the same outcome, I can check my work
# but, since my key is only available on one example source, I need to rerun all those cells with a different source file
# I wanted to run it on example 4 to start though, because it has the commas issue, and I wanted to show how to fix that with examples
df = pd.read_csv('export_format.csv')
# For this file export in particular, the member evidently did not have a high salary, and there were no commas
# So, pandas already labeled the column as float64, and not an object, due to no commas
# Because there were no commas to replace, this line of code was breaking the program. So, I commented it out.
#df['salary'] = df['salary'].str.replace(',', '') 
#df['salary'] = pd.to_numeric(df['salary'])
df = df.groupby('period_end').sum()
df = df.sort_values(by='period_end', key=pd.to_datetime)
df['rolling_60'] = df['salary'].rolling(60).mean()
df['annual'] = df['salary'].rolling(12).sum()

df.tail(15)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1176\988483885.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('period_end').sum()

              salary  sheltered  unsheltered   total   rolling_60
period_end
5/31/2021    6881.82     481.72          0.0  481.72  6291.540500
6/30/2021    6881.81     481.72          0.0  481.72  6379.814000
7/31/2021    9480.96     663.66          0.0  663.66  6516.691333
8/31/2021    7056.90     493.98          0.0  493.98  6610.742833
9/30/2021    7056.93     493.98          0.0  493.98  6700.069500
10/31/2021   8047.49     563.32          0.0  563.32  6811.563333
11/30/2021   8341.16     583.88          0.0  583.88  6922.294000
12/31/2021  10840.73     758.85          0.0  758.85  7097.314833
1/31/2022    7192.15     503.45          0.0  503.45  7132.009167
2/28/2022    7237.23     506.60          0.0  506.60  7146.029833
3/31/2022    8549.38     598.45          0.0  598.45  7195.089833
4/30/2022    8652.05     605.64          0.0  605.64  7229.351333
5/31/2022    8898.70     622.90          0.0  622.90  7283.091833
6/30/2022    7237.25     506.60          0.0  506.60  7307.999667
7/31/2022   10013.83     700.96          0.0  700.96  7347.837000

In [7]:
# The numbers above do NOT match the expected values.....why? 
# I'll have to check some others ....

# Step 1: Compare export_format.csv parish and state salary == samp_avg_salary excel workbook separated to ensure values == same
#       Reviewed - spot checking seems mostly correct. I see some potential missing data entries in the .csv compared to the workbook. Could be that this particular file does not have the cleanest dataset
#       Note that the software used to store this data is not reliable, when I do these by hand I find lots of data entry errors 
#       I also see lots of data entry errors that were reversed, so perhaps this is causing a discrepency when we sum by period_end. 
# Step 2: Use pandas dataframe to sum parish and state salary for the export_format.csv then check to see if totals match samp_avg_salary excel workbook

In [13]:
# add annual totals because this is how the excel workbook is setup, need == values to compare
df['annual'] = df['salary'].rolling(12).sum()

In [16]:
df.tail(60)
# After running this, i notice that period_end 2/28/18 down through 7/31/18 annual totals match
# It gets off at period end 8/30/2018

# Since this current project perspective is to write a program that calculates the 
# average salary, and the objective is not to clean the data in the software...
# I am going to move on to another test case

              salary  sheltered  unsheltered   total   rolling_60     annual
period_end
10/31/2017   6714.26     470.00          0.0  470.00  1915.612500   54555.51
11/30/2017   7682.24     537.75          0.0  537.75  2026.773167   60540.42
12/31/2017   5742.77     402.00          0.0  402.00  2105.609333   64925.33
1/31/2018    5986.97     419.09          0.0  419.09  2184.296167   69214.98
2/28/2018    6231.18     436.18          0.0  436.18  2271.272500   75106.68
3/31/2018    8356.20     584.93          0.0  584.93  2389.446833   78352.39
4/30/2018    7184.97     502.95          0.0  502.95  2492.319667   79141.37
5/31/2018    7221.76     505.52          0.0  505.52  2595.805667   80757.35
6/30/2018    6231.18     436.18          0.0  436.18  2677.733333   80392.17
7/31/2018    6231.18     436.18          0.0  436.18  2764.032667   80949.08
8/30/2018    6375.02     446.25          0.0  446.25  2851.221500   81581.32
8/31/2018    1981.16     138.68          0.0  138.68  2864.102167   75938.89
9/30/2018    6231.18     436.18          0.0  436.18  2944.474333   75455.81
10/31/2018   6231.17     436.18          0.0  436.18  3029.542500   74004.74
11/30/2018   8233.62     576.35          0.0  576.35  3143.288667   76495.59
12/31/2018   7350.86     514.56          0.0  514.56  3247.018333   77859.48
1/31/2019    6231.17     436.18          0.0  436.18  3332.086500   77859.47
2/28/2019    6397.06     447.79          0.0  447.79  3415.223333   75900.33
3/31/2019    9285.10     649.95          0.0  649.95  3551.190333   78000.46
4/30/2019    6231.17     436.18          0.0  436.18  3636.258500   77009.87
5/31/2019    7221.76     505.52          0.0  505.52  3732.235500   78000.45
6/30/2019    6231.18     436.18          0.0  436.18  3816.549833   78000.45
7/31/2019    6308.94     441.62          0.0  441.62  3902.160167   77934.37
8/31/2019    8589.43     601.25          0.0  601.25  4020.894000   84542.64
9/30/2019    6386.66     447.06          0.0  447.06  4107.799667   84698.12
10/31/2019   7897.68     552.83          0.0  552.83  4219.889000   86364.63
11/30/2019   8905.34     623.37          0.0  623.37  4343.888000   87036.35
12/31/2019   6386.71     447.07          0.0  447.07  4430.794500   86072.20
1/31/2020    8733.68     611.35          0.0  611.35  4556.817167   88574.71
2/28/2020    4565.77     319.60          0.0  319.60  4608.490000   86743.42
2/29/2020    1981.16     138.68          0.0  138.68  4621.970667   79439.48
3/31/2020    6546.93     458.28          0.0  458.28  4711.508333   79755.24
4/30/2020    6546.96     458.28          0.0  458.28  4795.279167   79080.44
5/31/2020    7537.53     527.62          0.0  527.62  4900.581333   80386.79
6/30/2020    6546.92     458.28          0.0  458.28  4984.292500   80624.77
7/31/2020   12890.01     902.30          0.0  902.30  5178.802667   84925.35
8/31/2020    8258.56     578.10          0.0  578.10  5296.122000   86797.25
9/30/2020    6711.89     469.84          0.0  469.84  5382.582667   85611.46
10/31/2020   8398.92     587.92          0.0  587.92  5502.241333   85105.04
11/30/2020   8557.03     598.99          0.0  598.99  5619.454333   87275.36
12/31/2020  10198.83     713.92          0.0  713.92  5769.111500   88740.51
1/31/2021    6847.83     479.34          0.0  479.34  5862.918667   91022.57
2/28/2021    6881.78     481.72          0.0  481.72  5952.210833   95923.19
3/31/2021    8120.11     568.40          0.0  568.40  6067.120833   97496.37
4/30/2021    9120.00     638.40          0.0  638.40  6197.982167  100069.41
5/31/2021    6881.82     481.72          0.0  481.72  6291.540500   99413.70
6/30/2021    6881.81     481.72          0.0  481.72  6379.814000   99748.59
7/31/2021    9480.96     663.66          0.0  663.66  6516.691333   96339.54
8/31/2021    7056.90     493.98          0.0  493.98  6610.742833   95137.88
9/30/2021    7056.93     493.98          0.0  493.98  6700.069500   95482.92
10/31/2021   8047.49     563.32          0.0  563.32  6811.563333   95131.49
11/30/2021   8341.16     583.88          0.0  583.88  6922.294000   94915.62
12/31/2021  10840.73     758.85          0.0  758.85  7097.314833   95557.52
1/31/2022    7192.15     503.45          0.0  503.45  7132.009167   95901.84
2/28/2022    7237.23     506.60          0.0  506.60  7146.029833   96257.29
3/31/2022    8549.38     598.45          0.0  598.45  7195.089833   96686.56
4/30/2022    8652.05     605.64          0.0  605.64  7229.351333   96218.61
5/31/2022    8898.70     622.90          0.0  622.90  7283.091833   98235.49
6/30/2022    7237.25     506.60          0.0  506.60  7307.999667   98590.93
7/31/2022   10013.83     700.96          0.0  700.96  7347.837000   99123.80

In [18]:
df = pd.read_csv('export_format2.csv')
df['salary'] = df['salary'].str.replace(',', '') 
df['salary'] = pd.to_numeric(df['salary'])
df = df.groupby('period_end').sum()
df = df.sort_values(by='period_end', key=pd.to_datetime)
df['rolling_60'] = df['salary'].rolling(60).mean()
df['annual'] = df['salary'].rolling(12).sum()

df.tail(15)

# Expected highest 60 month average = $5327.06 Date Range 1/2017 - 12/2021

C:\Users\Admin\AppData\Local\Temp\ipykernel_1176\2795283398.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('period_end').sum()

             salary  sheltered  unsheltered   total   rolling_60    annual
period_end
11/30/2020  6805.46     476.37          0.0  476.37  4928.927333  64171.67
12/31/2020  7584.06     530.87          0.0  530.87  4984.657000  65434.11
1/31/2021   4898.27     342.87          0.0  342.87  4982.240333  66832.05
2/28/2021   4926.30     344.84          0.0  344.84  4955.119833  70607.95
3/31/2021   6280.94     439.66          0.0  439.66  4989.130833  72238.15
4/30/2021   5501.21     385.08          0.0  385.08  5010.146333  73088.56
5/31/2021   4926.31     344.84          0.0  344.84  5021.580167  72788.87
6/30/2021   4926.31     344.84          0.0  344.84  5033.014000  73064.46
7/31/2021   6937.14     485.60          0.0  485.60  5053.006500  70411.84
8/31/2021   5070.64     354.94          0.0  354.94  5066.845833  68811.63
9/30/2021   5070.64     354.94          0.0  354.94  5069.676500  69096.08
10/31/2021  5645.56     395.18          0.0  395.18  5077.556167  68572.84
11/30/2021  6544.43     458.11          0.0  458.11  5115.958667  68311.81
12/31/2021  8425.56     589.78          0.0  589.78  5185.713333  69153.31
1/31/2022   1555.12     108.85          0.0  108.85  5104.133333  65810.16

In [19]:
df = pd.read_csv('export_format4.csv')
df['salary'] = df['salary'].str.replace(',', '') 
df['salary'] = pd.to_numeric(df['salary'])
df = df.groupby('period_end').sum()
df = df.sort_values(by='period_end', key=pd.to_datetime)
df['rolling_60'] = df['salary'].rolling(60).mean()
df['annual'] = df['salary'].rolling(12).sum()

df.tail(15)

# Expected highest 60 month average = $3080.27 Date Range 04/2017 - 03/2022

C:\Users\Admin\AppData\Local\Temp\ipykernel_1176\3604906961.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('period_end').sum()

             salary  sheltered  unsheltered   total   rolling_60    annual
period_end
3/31/2021   3298.38     230.88          0.0  230.88  2852.849500  39450.38
4/30/2021   3380.40     236.62          0.0  236.62  2868.762667  40206.78
5/30/2021   1339.20      93.74          0.0   93.74  2850.656000  38921.98
5/31/2021   1338.40      93.68          0.0   93.68  2832.536000  37636.38
6/30/2021   3307.60     231.53          0.0  231.53  2827.022667  35489.14
7/31/2021   4025.60     281.79          0.0  281.79  2853.689333  35933.54
8/31/2021   2724.48     190.72          0.0  190.72  2850.863167  36114.30
9/30/2021   2729.60     191.08          0.0  191.08  2849.966833  35722.21
10/31/2021  2729.61     191.08          0.0  191.08  2855.033667  34794.51
11/30/2021  3516.08     246.13          0.0  246.13  2873.208333  33744.55
12/31/2021  4760.60     333.24          0.0  333.24  2891.911667  35827.55
1/31/2022   2729.60     191.08          0.0  191.08  2887.187500  35879.55
2/28/2022   2729.60     191.08          0.0  191.08  2892.254167  35310.77
3/31/2022   5842.19     408.96          0.0  408.96  2949.197333  37772.56
4/30/2022    614.17      42.99          0.0   42.99  2919.006833  37047.53

In [20]:
df = pd.read_csv('export_format5.csv')
df['salary'] = df['salary'].str.replace(',', '') 
df['salary'] = pd.to_numeric(df['salary'])
df = df.groupby('period_end').sum()
df = df.sort_values(by='period_end', key=pd.to_datetime)
df['rolling_60'] = df['salary'].rolling(60).mean()
df['annual'] = df['salary'].rolling(12).sum()

df.tail(15)

# Expected highest 60 month average = $3803.58 Date Range 05/2017 - 04/2022

# Closest one yet! But no cigar

C:\Users\Admin\AppData\Local\Temp\ipykernel_1176\2380313972.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('period_end').sum()

             salary  unsheltered   rolling_60    annual
period_end
3/31/2021   7926.25          0.0  3753.705833  49533.64
4/30/2021   4402.22          0.0  3776.064500  52299.06
5/31/2021   3408.13          0.0  3807.160000  54070.39
6/30/2021   3408.13          0.0  3754.709000  50626.12
7/31/2021   4340.46          0.0  3801.343333  50325.70
8/31/2021   3548.33          0.0  3834.775500  50920.72
9/30/2021   3548.33          0.0  3771.807833  47584.15
10/31/2021  3548.34          0.0  3805.240167  48961.92
11/30/2021  4538.49          0.0  3842.643000  50468.83
12/31/2021  5256.95          0.0  3807.750667  47264.84
1/31/2022   3548.33          0.0  3841.182833  49143.57
2/28/2022   3548.33          0.0  3874.615000  51022.29
3/31/2022   3548.33          0.0  3811.647333  46644.37
4/30/2022   3548.33          0.0  3831.422833  45790.48
5/31/2022   1021.93          0.0  3812.867333  43404.28

In [25]:
df = pd.read_csv('export_format7.csv')
df['salary'] = df['salary'].str.replace(',', '') 
df['salary'] = pd.to_numeric(df['salary'])
df = df.groupby('period_end').sum()
df = df.sort_values(by='period_end', key=pd.to_datetime)
df['rolling_60'] = df['salary'].rolling(60).mean()
df['annual'] = df['salary'].rolling(12).sum()

df.tail(15)

# Expected highest 60 month average = $9772.96 Date Range 03/2017 - 02/2022

C:\Users\Admin\AppData\Local\Temp\ipykernel_1176\1878705079.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('period_end').sum()

              salary   rolling_60     annual
period_end
7/31/2021   13372.46  9224.678500  112187.22
8/31/2021    8915.02  9225.176167  112222.96
9/30/2021    8915.02  9218.857333  119350.48
10/31/2021   8915.02  9236.182167  120382.45
11/30/2021   8915.02  9252.914500  118376.20
12/31/2021  13372.53  9255.291500  116796.22
1/31/2022    8915.02  9250.817000  116814.09
2/28/2022    8915.02  9267.549333  116814.09
3/31/2022   10738.26  9314.669000  118637.33
4/30/2022    8915.02  9329.614667  117718.43
5/31/2022    8915.02  9328.470667  117718.43
6/16/2022       0.00  9139.636667  108803.41
6/30/2022    9826.64  9151.615167  105257.59
7/31/2022   12460.91  9203.599667  108803.48
8/31/2022    7211.82  9188.371833  107100.28

In [26]:
df = pd.read_csv('export_format3_quarters.csv')
df['salary'] = df['salary'].str.replace(',', '') 
df['salary'] = pd.to_numeric(df['salary'])
df = df.groupby('period_end').sum()
df = df.sort_values(by='period_end', key=pd.to_datetime)
df['rolling_60'] = df['salary'].rolling(60).mean()
df['annual'] = df['salary'].rolling(12).sum()

df.tail(15)

# BINGO!!!! Finally got an exact match - the date range our actuaries marked as
# the highest date range matches values. 
# Expected highest 60 month average = $3717.93 Date Range 10/2016 - 09/2021
# One key point to note is that I see HIGHER averages for other date ranges in the dataframe depicted below
# However, our policy states that if the parish reports quarterly, we CANNOT split the quarters
# Quarter period ends are March, June, September December
# Need to research why period end 9/2021 used instead of 06/2022
# I suspect that this member entered DROP before 06/2022 and by the time I exported this member's data for this project, more entries were added
# However, if member entered DROP, this is accurate

C:\Users\Admin\AppData\Local\Temp\ipykernel_1176\1774192538.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('period_end').sum()

             salary  sheltered  unsheltered   total   rolling_60    annual
period_end
7/31/2021   4055.20     283.88          0.0  283.88  3757.655833  50094.27
8/31/2021   3283.66     229.87          0.0  229.87  3787.476833  50410.64
9/30/2021   3299.20     230.96          0.0  230.96  3717.930167  47266.64
10/31/2021  4124.00     288.70          0.0  288.70  3761.756833  49227.09
11/3/2021   1649.60     115.48          0.0  115.48  3741.927500  47980.17
11/30/2021  2551.74     178.62          0.0  178.62  3655.642333  41726.09
12/31/2021  4948.77     202.08          0.0  202.08  3713.215167  45057.26
1/31/2022   3299.20       0.00          0.0    0.00  3743.295167  46738.85
2/28/2022   3299.20       0.00          0.0    0.00  3673.826333  42657.75
3/31/2022   4227.11       0.00          0.0    0.00  3707.774333  41946.12
4/30/2022   4330.23       0.00          0.0    0.00  3755.038167  43041.15
5/31/2022   3840.48       0.00          0.0    0.00  3706.966167  42908.39
6/30/2022   3299.20       0.00          0.0    0.00  3737.046167  42152.39
7/31/2022   4133.85       0.00          0.0    0.00  3781.037000  43002.58
8/31/2022   3348.40       0.00          0.0    0.00  3724.763667  43051.78

In [28]:
df = pd.read_csv('export_format6_quarters.csv')
df['salary'] = df['salary'].str.replace(',', '') 
df['salary'] = pd.to_numeric(df['salary'])
df = df.groupby('period_end').sum()
df = df.sort_values(by='period_end', key=pd.to_datetime)
df['rolling_60'] = df['salary'].rolling(60).mean()
df['annual'] = df['salary'].rolling(12).sum()

df.tail(15)

# Another example got an exact match - the date range our actuaries marked as
# the highest date range matches values calculated by this program 
# Expected highest 60 month average = $8421.43 Date Range 10/2016 - 09/2021
# Again, note that quarters cannot be split if parish reports quarterly
# Note to self - research why not 12/2021 used: $8476.12
# Again, I suspect this member entered DROP prior to 12/2021 so finalized average is correct

C:\Users\Admin\AppData\Local\Temp\ipykernel_1176\1439010280.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('period_end').sum()

              salary   rolling_60     annual
period_end
9/30/2021    7842.99  8421.427833  108948.89
10/31/2021   9013.57  8485.731833  111566.14
11/3/2021       0.00  8383.467500  104111.61
11/30/2021   9257.15  8365.274000   96346.46
12/31/2021  11805.94  8476.117167  102650.75
1/31/2022    7960.04  8522.862333  105109.13
2/28/2022    7960.06  8443.525667   99054.06
3/31/2022    8267.86  8481.177500   97076.88
4/30/2022    9535.55  8554.181000   98769.43
5/31/2022    8758.51  8518.061167   98838.40
6/2/2022        0.00  8430.716833   88244.66
6/30/2022    7960.06  8474.618333   88361.73
7/31/2022   10710.88  8437.550167   91229.62
8/31/2022    7960.06  8468.056667   90176.11
10/31/2022      0.00  8362.780667   90176.11

In [29]:
df = pd.read_csv('export_format8_quarters.csv')
df['salary'] = df['salary'].str.replace(',', '') 
df['salary'] = pd.to_numeric(df['salary'])
df = df.groupby('period_end').sum()
df = df.sort_values(by='period_end', key=pd.to_datetime)
df['rolling_60'] = df['salary'].rolling(60).mean()
df['annual'] = df['salary'].rolling(12).sum()

df.tail(15)

# Another example got an exact match - the date range our actuaries marked as
# the highest date range matches values calculated by this program 
# Expected highest 60 month average = $3716.94 Date Range 10/2016 - 09/2021
# Again, note that quarters cannot be split if parish reports quarterly
# Note to self - research why not 06/2022 used: $3736.83
# # Again, I suspect this member entered DROP prior to 06/2022 so finalized average is correct

C:\Users\Admin\AppData\Local\Temp\ipykernel_1176\3150168197.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('period_end').sum()

             salary  sheltered  unsheltered   total   rolling_60    annual
period_end
7/31/2021   4055.20     283.88          0.0  283.88  3756.665500  50094.29
8/31/2021   3283.67     229.87          0.0  229.87  3786.486667  50410.67
9/30/2021   3299.20     230.96          0.0  230.96  3716.940000  47266.67
10/31/2021  4124.00     288.70          0.0  288.70  3760.766667  49227.11
11/3/2021   1649.60     115.48          0.0  115.48  3740.937333  47980.19
11/30/2021  2551.74     178.62          0.0  178.62  3654.652167  41726.12
12/31/2021  4948.77     116.91          0.0  116.91  3712.225000  45057.29
1/31/2022   3299.21       0.00          0.0    0.00  3742.305167  46738.89
2/28/2022   3299.20       0.00          0.0    0.00  3672.836333  42657.78
3/31/2022   4227.10       0.00          0.0    0.00  3706.784167  41946.14
4/30/2022   4376.63       0.00          0.0    0.00  3754.821333  43087.57
5/31/2022   3840.48       0.00          0.0    0.00  3706.749333  42954.80
6/30/2022   3299.20       0.00          0.0    0.00  3736.829333  42198.80
7/31/2022   4133.86       0.00          0.0    0.00  3780.820333  43048.99
8/31/2022   3348.40       0.00          0.0    0.00  3724.547000  43098.19

In [38]:
df = pd.read_csv('export_format9_quarters.csv')
df['salary'] = df['salary'].str.replace(',', '') 
df['salary'] = pd.to_numeric(df['salary'])
df = df.groupby('period_end').sum()
df = df.sort_values(by='period_end', key=pd.to_datetime)
df['rolling_60'] = df['salary'].rolling(60).mean()
df['annual'] = df['salary'].rolling(12).sum()

df.tail(15)


# Expected highest 60 month average = $3958.91 Date Range 07/2017 - 06/2022
# Again, note that quarters cannot be split if parish reports quarterly

C:\Users\Admin\AppData\Local\Temp\ipykernel_1176\2802723746.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('period_end').sum()

             salary   rolling_60    annual
period_end
8/31/2021   3417.60  3991.536000  52323.64
9/30/2021   3417.60  3916.095833  48925.08
10/31/2021  4272.00  3960.815500  50911.56
11/3/2021   1708.80  3947.175667  49624.62
11/30/2021  2643.30  3859.161667  42997.68
12/31/2021  5062.32  3917.053333  46351.20
1/31/2022   3417.60  3947.533167  48060.00
2/28/2022   3417.60  3872.175500  43681.20
3/31/2022   4378.80  3906.345667  42842.82
4/30/2022   4272.00  3951.065500  43697.22
5/31/2022   4202.58  3901.948333  44482.20
6/30/2022   3417.60  3932.428167  43627.80
7/31/2022   4272.00  3977.147833  44482.20
8/31/2022   3417.60  3914.947833  44482.20
9/30/2022    598.08  3883.540667  40808.28

In [39]:
# What I am noticing is that the examples with quarterly postings appear accurate, and the ones with monthly postings have errors
# Because I know that our software is laden with data entry errors, I suspect that my program is working accurately, and this is a data cleaning issue

# (The unclean data is the reason these calculations are completed and then verified by multiple humans who go through entries and records one by one)
# (Having all data cleaned, verified, and moved to an entire new pension system software that completely automates this retirement
#  calculation process is somethingthat I proposed via a 'Disaster Recovery Plan' but was failed to implement due to budget restrictions and other reasons.
# In any case, the powers that be above me said to keep operating as we currently are, so these are my limitations!)

# Since I am satisfied with the largely correct percentage of results == expected results via my quarterly postings, I am 
# going to attempt to go on with this programming software and implement Salary Capping Statutes

In [40]:
# Salary Capping: 
# The gist of what we have here is that 
# year 2 cannot exceed greater than 15% increase year 1
# year 3 cannot exceed greater than 15% increase year 4
# year 4 cannot exceed greater than 15% increase year 5
# year 5 cannot exceed greater than 15% increase year 6
# note that you do not have to test for capping from [prior to year 1] to [year 1] used in the highest average consecutive 60 month period